
MNIST, стр. 123-135/data/

MNIST, стр. 123-135/.ipynb_checkpoints/

*.pt

Ининциализация весов, стр.148-152/data/MNIST/raw/

mnist_data/MNIST/raw/

Инициализация весов, стр. 148-152/.ipynb_checkpoints/

Батч-нормализация, стр. 160-161/.ipynb_checkpoints/

Автокодировщик, стр. 219-230/.ipynb_checkpoints/MNIST_autoencoder-checkpoint.ipynb

Порождение текста, стр. 259-276/.ipynb_checkpoints/text_generation-checkpoint.ipynb

Порождение текста, стр. 259-276/test.txt

Порождение текста, стр. 259-276/voyna-i-mir-tom-1.txt
